html,
body {
  padding: 0 !important;
  margin: 0 !important;
}
.mainBody {
  background-image: url("../src/assets/images/MainBackGround.jpg");
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 71px;
}
@media screen and (min-width: 600px) {
  .mainContainer {
    margin-top: -30em;
    margin-left: 15em;
  }
}
