html,
body {
  padding: 0 !important;
  margin: 0 !important;
}
.mainBody {
  background-image: url("../src/assets/images/MainBackGround.jpg");
  background-color: #1e2a4a;
  background-size: cover;
  padding-top: 71px;
}
@media screen and (min-width: 600px) {
  .mainContainer {
    position: relative;
  }
  .rightAside {
    position: absolute;
    top: 20em;
    right: 5em;
  }
}
