:root {
  --color-border: #ffffff29;
}
.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: -17px;
}
.box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 120px;
  border-radius: 0 0 30px 30px;
  border: 2px solid var(--color-border);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.box:hover {
  border: 1px solid #5548ee;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px #5548ee;
}
@media screen and (min-width: 600px) and (max-width: 1299px) {
  .box {
    width: 450px;
  }
}
@media screen and (min-width: 1300px) {
  .box {
    width: 1000px;
  }
}
