:root {
  --color-primary: #5548ee;
  --color-border: #ffffff29;
  --color-button: #e0b1cb;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  /* border: solid 1px var(--color-border);
  border-radius: 13px; */
  backdrop-filter: blur(1px) saturate(153%);

  background-color: rgba(23, 19, 23, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
@media screen and (min-width: 600px) and (max-width: 1299px) {
  .category {
    margin-left: 5%;
    width: 500px;
    height: 120px;
  }
}
@media screen and (min-width: 1300px) {
  .category {
    margin-left: 5%;
    width: 800px;
    height: 150px;
  }
}
