:root {
  --color-primary: #5548ee;
  --color-border: #ffffff29;
  --color-button: #e0b1cb;
}
* {
  color: #f1e7d9;
}
.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: solid 1px var(--color-border);
  border-radius: 1rem;
  width: 320px;
  background-color: rgba(94, 84, 142, 0.7);
  margin: auto;
  padding: 0.5rem;
}

.img {
  width: 320px;
  height: 190px;
  border: solid 1px var(--color-border);
  border-radius: 1rem;
}
.title {
  margin: 1%;
  align-self: flex-start;
  font-size: 1.2em;
}
.description {
  margin: 1%;
  padding-right: 4rem;
  align-self: flex-start;
  font-size: 11px;
  max-width: fit-content;
}
.detailsbutton {
  text-align: center;
  text-decoration: none;
  background-color: #e0b1cb;
  color: var(--color-primary);
  border: solid 2px var(--color-border);
  font-weight: bold;
  border-radius: 2rem;
  width: 5rem;
  align-self: flex-end;
}
@media screen and (min-width: 600px) {
  .container {
    align-self: center;
    width: 400px;
    margin-top: 1%;
  }
  .img {
    height: 230px;
    width: 400px;
  }
}

.closebutton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-button);
  color: var(--color-primary);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
