:root {
  --color-primary: #5548ee;
  --color-border: #ffffff29;
  --color-button: #e0b1cb;
}
* {
  color: #f1e7d9;
}
.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  padding: 0.5rem;
  backdrop-filter: blur(1px) saturate(153%);
  -webkit-backdrop-filter: blur(5px) saturate(153%);
  background-color: rgba(23, 19, 23, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.img {
  width: 320px;
  border: solid 1px var(--color-border);
  border-radius: 1rem;
}
.title {
  margin: 1%;
  align-self: flex-start;
  font-size: 1.2em;
}
.description {
  margin: 1%;
  padding-right: 4rem;
  align-self: flex-start;
  font-size: 11px;
  max-width: fit-content;
}
.detailsbutton {
  text-align: center;
  text-decoration: none;
  background-color: rgba(23, 19, 23, 0.2);
  color: var(--color-primary);
  border: 2px solid rgba(85, 72, 238, 1);
  font-weight: bold;
  border-radius: 2rem;
  width: 5rem;
  align-self: flex-end;
}
.detailsbutton:hover {
  background-color: #ffffff29;
}
@media screen and (min-width: 600px) {
  .container {
    align-self: center;
    width: 400px;
    margin-top: 1%;
    background-color: rgba(23, 19, 23, 0.2);
  }
  .img {
    width: 400px;
  }
}
.closebutton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgba(85, 72, 238, 1);
  border-radius: 50%;
  background-color: rgba(23, 19, 23, 0.2);
  color: var(--color-primary);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closebutton:hover {
  background-color: #ffffff29;
}
