:root {
  --color-border: #ffffff29;
}
.detailMainContainer {
  background-image: url("../src/assets/images/Background.jpg");
  background-color: #1e2a4a;
  background-size: cover;
  padding-top: 71px;
  padding-bottom: 3em;
  text-align: center;
}
.catchfullImg {
  border-radius: 1em;
  border: solid 1px var(--color-border);
}
.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.explanation {
  margin: auto;
  max-width: 65ch;
}
