:root {
  --color-primary: #5548ee;
  --color-border: #ffffff29;
  --color-button: #e0b1cb;
}
.mainContainer {
  display: flex;
  justify-content: center;
}
.listContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 1em;
  list-style: none;
}
ul li {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.logoContainer {
  box-sizing: border-box;
  width: 384px;
  height: 84px;
  /* border-radius: 13px;
  border: solid 1px var(--color-border);
  background-color: rgba(94, 84, 142, 0.7); */
}
.logo {
  background-image: url("../../assets/images/logospaceview.png");
  background-size: 111px 84px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 21px;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 1299px) {
  .logoContainer {
    width: 600px;
    height: 106px;
  }
  .logo {
    background-position-y: 45px;
  }
}
@media screen and (min-width: 1300px) {
  .logoContainer {
    width: 1405px;
    height: 106px;
  }
  .logo {
    background-size: 169px 105px;
    background-position-x: left;
    background-position-y: 27px;
    margin-left: 18px;
  }
}
